<head>
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
  window.OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "371e1e07-f23a-4401-b12f-3da9aed612cd",
    });
  });
</script>
<link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
<link rel="manifest" href="assets/images/site.webmanifest">
<script type="text/javascript" src="https://t.mentioned.app/track/track.js" id="mentioned-by-script" token="6UjWprOglMyttw0-LLMXOswIs12Dace74AijTOWBbE-u6wWhP-qPo3t6gzas-LJ9ii4" host="makale.ekofi.science"></script>
<a href="http://www.sanalbasin.com/?ref=32839" id="hash-69cb13d3b2eea37560edc49374373a022b575ddd" title="Bu site sanalbasin.com üyesidir" target="_blank"><img src="http://www.sanalbasin.com/dcms-themes/sanalbasin/img/sanalbasin_uyesidir.png" alt="sanalbasin.com üyesidir" /></a>
</head>
