<head>
<!-- <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/c9d443d4bbcca0fd46869db68/022000e059c03efa94ba05d4e.js");</script>
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style>
  #mc_embed_signup{background: #FFFFFF; clear:left; font:14px Helvetica,Arial,sans-serif; }
</style> -->
</head>
